body, h1 {
  margin: 0;
  padding: 0; }

body {
  background-color: #413544;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: white;
  width: 750px;
  height: 1334px;
  font-size: 3em;
  margin: 0 auto; }

h1 {
  margin-bottom: 40px;
  padding: 30px 0;
  display: inline-block; }

ul {
  list-style: none;
  padding-left: 0; }

input {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  border-bottom: 2px solid white; }

input[placeholder] {
  color: white; }

input::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 1 !important; }

input:-moz-placeholder {
  color: #fff; }

input::-moz-placeholder {
  color: #fff; }

input:-ms-input-placeholder {
  color: #fff; }

#appLogo {
  width: 80%;
  height: auto;
  margin-bottom: 10px; }

.navbar {
  background-color: #29232C;
  height: auto;
  line-height: 135px;
  margin-bottom: 0; }

.navCog {
  text-align: center;
  height: 154px;
  line-height: 154px; }

.navHam {
  text-align: center;
  height: 154px;
  line-height: 154px; }

.navHamStyle {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.1em; }

.navHamStyle:active {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.1em; }

ul li {
  line-height: normal;
  font-size: 2em; }
  ul li a {
    color: white;
    padding-left: 0; }
  ul li a:visited {
    color: white;
    padding-left: 0; }

li:first-of-type, li:last-of-type {
  padding-left: 20px; }

.glyphicon-cog, .glyphicon-menu-hamburger {
  color: white;
  font-size: 1.5em; }

.navLogo {
  width: 70%;
  height: auto; }

.logoCent {
  text-align: center; }

.dropdown-menu {
  background-color: #29232C;
  margin: 0; }

.placeholderNav {
  width: 100%;
  height: 154px; }

#loginContainer {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #loginContainer .loginIcons {
    width: auto;
    height: 3em; }
  #loginContainer .input-group {
    margin: 30px 0; }
  #loginContainer .input-group-addon {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    padding: 7px 0; }
  #loginContainer .form-control {
    background-color: transparent;
    padding-left: 5px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    letter-spacing: 3px;
    border-radius: 0;
    font-size: 1.5em;
    height: 1.5em; }
  #loginContainer .loginButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    width: 100%;
    outline: none;
    font-size: 1.7em;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 5px 0;
    margin-top: 50px; }
  #loginContainer .facebookBox {
    width: 100%;
    margin-top: 10px; }
    #loginContainer .facebookBox p {
      display: inline-block;
      letter-spacing: 0;
      color: white;
      text-align: left;
      width: 48%; }
    #loginContainer .facebookBox p:first-of-type {
      text-align: right;
      border-right: 2px solid white;
      padding-right: 7px; }
    #loginContainer .facebookBox .FBBold {
      font-weight: bold; }

#addDevicePage {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; }
  #addDevicePage h3 {
    display: inline-block;
    font-size: 2em; }
  #addDevicePage h5 {
    margin-bottom: 30px;
    font-size: 1.5em; }
  #addDevicePage hr {
    width: 60%;
    height: 1.25em; }
  #addDevicePage img {
    width: 40%;
    height: auto; }
  #addDevicePage #addDeviceButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    width: 100%;
    outline: none;
    font-size: 1.7em;
    letter-spacing: 3px;
    font-weight: bold;
    width: 80%;
    display: inline-block;
    margin-top: 10px; }

#profilePage {
  text-align: center;
  color: white; }
  #profilePage .profileImg {
    border-radius: 100%;
    width: 60%;
    margin-top: 5%; }
  #profilePage h3 {
    margin: 5%;
    font-size: 2em; }
  #profilePage hr {
    width: 30%; }
  #profilePage .profileIcons {
    width: 70%;
    height: auto; }
  #profilePage p {
    font-size: 1.4em;
    padding-top: 10px; }
  #profilePage article {
    margin-top: 37.5px; }
    #profilePage article .row:nth-of-type(2) {
      margin-top: 37.5px; }

#savedConcerts {
  width: 100%; }
  #savedConcerts div {
    display: block;
    text-align: center;
    padding-bottom: 30px; }
    #savedConcerts div hr {
      width: 35%; }
    #savedConcerts div h1 {
      margin-bottom: 0; }
    #savedConcerts div input {
      display: block;
      width: 100%;
      margin-top: 40px; }
    #savedConcerts div input[placeholder] {
      letter-spacing: 3px; }
    #savedConcerts div input::-webkit-input-placeholder {
      color: #D3D3D3 !important;
      opacity: 1 !important; }
  #savedConcerts .fixedHeader {
    background-color: #413544;
    position: fixed;
    display: block;
    text-align: center;
    width: 100%; }
  #savedConcerts ul .singleConcert {
    font-size: .5em;
    border-bottom: 2px solid white;
    padding-bottom: 20px; }
    #savedConcerts ul .singleConcert h3 {
      font-size: 2em; }
    #savedConcerts ul .singleConcert ul {
      font-size: .85em; }
  #savedConcerts .singleConcert:first-of-type, #savedConcerts .singleConcert:last-of-type {
    padding-left: 0; }

.concertDets {
  display: inline-block;
  padding-left: 0; }

.concertDets:first-of-type, .concertDets:last-of-type {
  padding-left: 0; }

.concertDets:nth-of-type(2) {
  border-left: 2px solid white;
  padding: 0 5px; }

.bandName span {
  float: right; }

#searchConcerts {
  font-size: 1.25em; }
  #searchConcerts div {
    display: block;
    text-align: center; }
    #searchConcerts div .findaConcerthead {
      font-size: 1.5em;
      margin-bottom: 0;
      letter-spacing: 3px; }
    #searchConcerts div hr.findaConcerthead {
      width: 65%;
      margin-bottom: 40px; }
    #searchConcerts div h1 {
      margin-bottom: 0; }
  #searchConcerts input {
    letter-spacing: 3px;
    margin-bottom: 40px;
    width: 100%;
    font-size: .8em; }
  #searchConcerts .fixedHeader {
    background-color: #413544;
    position: fixed;
    display: block;
    text-align: center;
    width: 100%; }
  #searchConcerts .resultsSection {
    margin-top: 367.5px; }
    #searchConcerts .resultsSection li:first-of-type {
      padding-left: 0;
      margin: 10px 0; }
    #searchConcerts .resultsSection li:last-of-type {
      padding-left: 0; }
    #searchConcerts .resultsSection ul li {
      padding-left: 0;
      font-size: 1em; }
  #searchConcerts ul .singleConcert {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    font-size: .4em; }
  #searchConcerts ul .singleConcert li button {
    float: right;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    width: 100%;
    outline: none;
    font-size: 1.7em;
    letter-spacing: 3px;
    font-weight: bold;
    width: auto;
    font-size: 2em;
    padding: 0 5px; }
  #searchConcerts .searchButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    width: 100%;
    outline: none;
    font-size: 1.7em;
    letter-spacing: 3px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 3px;
    font-size: 1em; }

.searchMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.topSearch {
  position: fixed;
  z-index: 10;
  background-color: #413544;
  width: 750px;
  margin-top: -367.5px; }

.userSearchBar {
  padding-top: 1.5em;
  text-align: left;
  padding: 1.5em 3%; }
  .userSearchBar input::-webkit-input-placeholder {
    color: #D3D3D3 !important;
    opacity: 1 !important; }

.usersPlaceholder {
  background-color: #413544;
  position: fixed;
  display: block;
  text-align: center;
  width: 100%;
  text-align: left; }

.userSearch {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  display: block;
  width: 100%;
  outline: none;
  font-size: 1.7em;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: white;
  color: #413544;
  width: auto;
  display: inline-block;
  padding: 0 10px;
  font-size: 1em;
  border: none; }

.findFriendInput {
  display: inline-block;
  width: 100%; }

.findFriendInput[placeholder] {
  letter-spacing: 5px; }

.userList {
  padding: 0 3%;
  margin-top: 20px; }
  .userList li {
    padding-bottom: 10px;
    border-bottom: 2px solid white; }
    .userList li img {
      border-radius: 100%; }
    .userList li div {
      display: inline-block;
      font-size: .6em;
      vertical-align: middle;
      letter-spacing: 5px; }
      .userList li div p {
        font-size: .8em; }
      .userList li div button {
        float: right; }
      .userList li div a {
        color: white; }
      .userList li div a:hover {
        text-decoration: none; }

#friendsHeader {
  text-align: center;
  display: block;
  letter-spacing: 3px;
  margin-bottom: 0; }

#friendsHR {
  width: 15%;
  margin-bottom: 40px; }

#friendsList {
  font-size: .6em; }
  #friendsList li {
    padding-bottom: 10px;
    border-bottom: 2px solid white; }
    #friendsList li div {
      display: inline-block; }
    #friendsList li img {
      border-radius: 100%;
      width: 20%;
      margin-right: 20px; }
    #friendsList li a {
      color: white; }
    #friendsList li a:hover {
      text-decoration: none; }
    #friendsList li p {
      margin: 0; }

#timetoDance {
  text-align: center; }
  #timetoDance h1 {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 2em;
    letter-spacing: 6px; }
  #timetoDance hr {
    width: 45%; }

.singleConcertInfo {
  text-align: center; }
  .singleConcertInfo h3 {
    font-size: 2em;
    padding: 30px 0;
    letter-spacing: 5px; }
  .singleConcertInfo ul {
    font-size: .45em;
    padding-bottom: 50px; }
    .singleConcertInfo ul li {
      letter-spacing: 5px; }

.singleConcertButtonDiv {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-size: 2em; }

.singleConcertButton {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  display: block;
  width: 100%;
  outline: none;
  font-size: 1.7em;
  letter-spacing: 3px;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
  letter-spacing: 5px; }

.singleConcertButton:first-of-type {
  margin-bottom: 40px; }

.singleLeaderBoard {
  margin-top: 20px; }
  .singleLeaderBoard h3 {
    text-align: center;
    font-size: 2em;
    padding: 30px 0;
    letter-spacing: 5px; }
  .singleLeaderBoard ul {
    padding: 0 3%;
    height: 570px;
    overflow: hidden; }
    .singleLeaderBoard ul li {
      padding-bottom: 10px;
      border-bottom: 2px solid white; }
      .singleLeaderBoard ul li img {
        border-radius: 100%;
        width: 50px; }
      .singleLeaderBoard ul li div {
        display: inline-block;
        font-size: .5em;
        width: 100%; }
        .singleLeaderBoard ul li div span {
          float: right; }

/*# sourceMappingURL=main.css.map */
