<section id="addDevicePage">
	<h3>Let's add your device</h3>
	<hr>
	<h5>Choose your device brand</h5>
	<div class="row deviceIconsSec">
		<div class="col-xs-1"></div>
		<img class="col-xs-3" ng-click="GetfitbitdataCtrl.fitbitrequest()" src="../css/images/fitbitlogoblack.png"/>
		<div class="col-xs-1"></div>
		<img class="col-xs-3" ng-click="GetfitbitdataCtrl.fitbitrequest()" src="../css/images/jawbonelogo.png"/>
		<div class="col-xs-1"></div>
	</div>
</section>
<!-- <p ng-click="GetfitbitdataCtrl.logout()">Logout</p> -->