<!-- 	<h3>My Shows</h3>
	<section class="row">
		<div class="col-xs-4" ng-repeat="concert in ProfileCtrl.userConcerts">
			<span ng-click="ProfileCtrl.gotoconcert(concert.$id)">{{concert.concertName}}</span>
			<p>rating: {{concert.rating}}</p>
				<span ng-click="ProfileCtrl.removeConcert(concert.$id)" class="glyphicon glyphicon-remove-circle"></span>
		</div>

	</section> -->
<section ng-include="'partials/navbar.html'"></section>
<h1>placeholder</h1>
	<ul>
		<li ng-repeat="concert in SavedconcertCtrl.userConcerts" ng-click="SavedconcertCtrl.gotoConcert(concert.$id)">
			{{concert.concertName}}
			{{concert.rating}}
			<span ng-click="SavedconcertCtrl.removeConcert(concert.$id)" class="glyphicon glyphicon-remove-circle"></span>
		</li>
	</ul>
