<section ng-include="'partials/navbar.html'"></section>
<section id="searchConcerts">
	<div class="fixedHeader">
		<h1>Find a Concert</h1>
		<input id="searchBandBar" type="text" placeholder="search a band"/>
		<input id="searchLocation" type="text" placeholder="search by location"/>
		<button class="searchButton" ng-click="searchBand()">SEARCH</button>
	</div>
	<div>
		<h1>Find a Concert</h1>
		<input id="searchBandBar" type="text" placeholder="search a band"/>
		<input id="searchLocation" type="text" placeholder="search by location"/>
		<button class="searchButton" ng-click="searchBand()">SEARCH</button>
	</div>
	<h1 class="fixedHeader">{{concertsArray[0].artists[0].name}}</h1>
	<h1>{{concertsArray[0].artists[0].name}}</h1>
	<h5>{{message}}</h5>
	<ul>
		<li class="singleConcert"ng-repeat="concert in concertsArray">
			<p ng-click="goToConcert(concert.id)">{{concert.venue.name}}
			<button  ng-click="saveConcert(concertsArray[0].artists[0].name, concert.id, concert.title, concert.formatted_datetime, concert.venue)">ADD</button>
			</p>
			<ul>
				<li>{{concert.venue.city}}, {{concert.venue.region}}</li>
				<li>{{concert.formatted_datetime}}</li>
			</ul>
		</li>
	</ul>
</section>

