<section ng-include="'partials/navbar.html'"></section>
<section id="searchConcerts" class="searchMiddle">
	<div id="searchSection">
		<h1 class="findaConcerthead">FIND A CONCERT</h1>
		<hr class="findaConcerthead">
		<input id="searchBandBar" type="text" placeholder="search a band"/>
		<input id="searchLocation" type="text" placeholder="search by location"/>
		<button class="searchButton" ng-click="searchBand()">SEARCH</button>
		<h1 class="">{{message}}</h1>
	</div>
	<ul class="resultsSection">
		<li class="singleConcert"ng-repeat="concert in concertsArray">
			<ul>
				<li>{{concert.venue.name}}<button class="hideAdd" ng-click="saveConcert(concertsArray[0].artists[0].name, concert.id, concert.title, concert.formatted_datetime, concert.venue)">ADD</button></li>
				<li>{{concert.venue.city}}, {{concert.venue.region}}</li>
				<li>{{concert.formatted_datetime}}</li>
			</ul>
		</li>
	</ul>
</section>

