<section ng-include="'partials/navbar.html'"></section>
<h1>placeholder</h1>
<input id="searchBandBar" type="text" placeholder="search a band"/>
<button ng-click="searchBand()"></button>
<h1>{{concerts[0].artists[0].name}}</h1>
<h5>{{message}}</h5>
<section class="row">
	<div ng-repeat="concert in concerts"   class="col-xs-4">
		<p ng-click="goToConcert(concert.id)">{{concert.title}}</p>
		<p>{{concert.id}}</p>
		<p>{{concert.formatted_datetime}}</p>
		<p></p>
		<button  ng-click="saveConcert(concerts[0].artists[0].name, concert.id, concert.title, concert.formatted_datetime, concert.venue)">Add to profile</button>
	</div>
</section>