<section ng-include="'partials/navbar.html'"></section>
<div class="userSearchBar">
	<input class="findFriendInput" type="text" placeholder="find a friend"/>
</div>
<ul class="userList">
	<li ng-repeat="user in UserListCtrl.users" ng-if="UserListCtrl.hideYou(user.uid)">
		<img src="{{user.pic}}">
		<div>
			<a href="/#/profile/{{user.uid}}">{{user.name}}</a>
			<button class="userSearch" ng-hide="UserListCtrl.isFriend(user.uid)" ng-click="UserListCtrl.addFriend(user.$id, user.name, user.pic, user.concertSteps)">ADD</button>
			<p>Boogie Score: {{user.concertSteps}}</p>
		</div>
	</li>
</ul>
