$background-color: #413544;

body,h1{
	margin: 0;
	padding:0;
}

body{
	background-image: url('./images/background_image.svg');
	background-color: $background-color;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	color: white;
}

h1{
	border-bottom: 2px solid white;
	margin-bottom: 40px;
	padding: 30px 0;
	display: inline-block;
}

ul{
	list-style:none;
	padding-left: 0;
}

//basic elements
input{
	display: block;
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 0;
	margin: 0;
	border-bottom:2px solid white;
}
//changes placeholder text color
input::-webkit-input-placeholder { color:#fff !important; opacity: 1 !important; }
input:-moz-placeholder { color:#fff ;}
input::-moz-placeholder {color:#fff ;}
input:-ms-input-placeholder {color:#fff ;}

//logo styling
#appLogo{
	width:70%;
	height: auto;
	}

//button styles
@mixin buttonStyles{
		background-color: transparent;
		color: white;
		border: 2px solid white;
		display: block;
		width: 100%;
		outline: none;
		padding: 10px 0;
		font-size: 1.7em;
		letter-spacing: 3px;
		font-weight: bold;
}

@mixin basicPage{
	text-align:center;
	color: white;
}
@mixin roundedImg{
	border-radius: 100%;
}

@mixin pageHeader{
	background-color: $background-color;
	position: fixed;
	display: block;
	text-align: center;
	width:100%;
}

// navbar
.navbar{
	background-color: #29232C;
}
.glyphicon-cog{
	color: white;
}
.navLogo{
	width: auto;
	height: 49px;
}
.logoCent{
	text-align:center;
}
.placeholderNav{
	margin-bottom:0;
}

//login page
#loginContainer{
	width:70%;
	text-align:center;
	border:1px solid black;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	//login icons size
	.loginIcons{
		width: 40px;
		height: auto;
	}
	//login inputs
	.input-group{
		margin: 10px 0;
	}
	//icon area
	.input-group-addon{
		background-color: transparent;
		border-radius:0;
		border: none;
		border-bottom: 2px solid white;
		outline: none;
		padding: 7px 0;
	}
	//input area
	.form-control{
		background-color: transparent;
		padding-left: 5px;
		color: white;
		border: none;
		border-bottom: 2px solid white;
		letter-spacing: 3px;
		height: 57px;
		border-radius: 0;

	}
	.loginButton{
		@include buttonStyles;
	}
	.facebookBox{
		width: 100%;
		margin-top: 10px;
		p{
			display: inline-block;
			letter-spacing: 0;
			color: white;
			text-align: left;
			width:48%;
		}
		p:first-of-type{
			text-align: right;
			border-right: 2px solid white;
			padding-right: 7px;
		}
		.FBBold{
			font-weight: bold;
		}
	}
}

//add device section
#addDevicePage{
	@include basicPage;
	h3{
		display: inline-block;
		border-bottom: 2px solid white;
	}
	#addDeviceButton{
		@include buttonStyles;
		width: 80%;
		display: inline-block;
	}
}

//profile section
#profilePage{
	@include basicPage;
	.profileImg{
		@include roundedImg;
		margin-top:15px;
	}
	.profileIcons{
		width:auto;
		height:75px;
	}
	p{
		padding-top: 10px;
	}
}

//saved concert section
#savedConcerts{
	width:100%;
	div{
		display: block;
		text-align: center;
	}
	.fixedHeader{
		@include pageHeader;
	}
	ul .singleConcert{
		border-bottom: 2px solid white;
		padding-bottom: 20px;
	}
}
.concertDets{
		display: inline-block;
	}
.concertDets:nth-of-type(2){
	border-right: 2px solid white;
	border-left: 2px solid white;
	padding: 0 5px;
}
.bandName{
	span{
		float:right;
		font-size: 10px;
	}
}

//search concerts section
#searchConcerts{
	div{
		display: block;
		text-align: center;
	}
	.fixedHeader{
		@include pageHeader;
	}
	ul .singleConcert{
		border-bottom: 2px solid white;
		padding-bottom: 20px;
	}
	ul .singleConcert p button{
		float:right;
		@include buttonStyles;
		width: 50px;
		height: 20px;
		font-size: 14px;
		padding:0;
	}
	.searchButton{
		@include buttonStyles;
		width: 75%;
	}
}

//user list section
.userSearchBar{
	padding-top: 1.5em;
	text-align:left;
	padding: 1.5em 3%;
}
.usersPlaceholder{
	@include pageHeader;
	text-align:left;
}
.userSearch{
	@include buttonStyles;
	background-color:white;
	color: $background-color;
	width: auto;
	display: inline-block;
	padding:0 10px;
	font-size: 1em;
	border: none;
}
.findFriendInput{
		display: inline-block;
	}
.userList{
	padding: 0 3%;
	margin-top:20px;
	li{
		padding-bottom: 10px;
		border-bottom: 2px solid white;
		img{
			border-radius: 100%;
			width: 50px;
		}
		div{
			display: inline-block;
			button{
				float: right;
			}
			a{
				color:white;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}

//friend list
.friendsPlaceholder{
	@include pageHeader;
	text-align:center;
}
#friendsList{
	padding: 0 3%;
	li{
		padding-bottom: 10px;
		border-bottom: 2px solid white;
		img{
			border-radius: 100%;
			width: 50px;
		}
		a{
			color: white;
		}
		a:hover{
			text-decoration: none;
		}
	}
}








